.page-title {
  margin-top: 10px;
}

#summaryHeader {
  font-weight: bold;
}

#education {
  scroll-margin-top: 130px;
}

#achievements {
  scroll-margin-top: 130px;
}

#hobbies {
  scroll-margin-top: 130px;
  margin-top: 10px;
}

.about-me-card {
  margin-bottom: 20px;
}

.me-photo-wrapper {
  width: 100%;
}

.me-photo {
  width: 25%;
}

.education-card {
  margin-bottom: 20px;
}

.school-logo {
  width: 100%;
  max-width: 75px;
  padding-bottom: 15px;
}

.school-logo-wrapper {
  width: 100%;
  height: 100%;
}

.education-school {
  font-weight: bold;
}

.education-degree {

}

.education-date {
  font-style: italic;
}

.education-accolades {
  font-style: italic;
}

.education-description {

}

.achievement-wrapper {
  padding-bottom: 20px;
}

.achievement-name {
  font-weight: bold;
}

.achievement-description {
  padding-left: 30px;
}

.hobby-card {
  margin-bottom: 15px;
}

.hobby-name {
  font-weight: bold;
}

.hobby-description {
  margin-bottom: 15px;
}

.hobby-link {

}

.hobby-link a {

}

.modal-title {
  font-weight: bold;
}
