.about-me-card {
  margin-bottom: 20px;
}

.me-photo-wrapper {
  width: 100%;
}

.me-photo {
  width: 25%;
}

.education-card {
  margin-bottom: 20px;
}

.education-school {
  font-weight: bold;
}

.education-degree {

}

.education-date {
  font-style: italic;
}

.education-accolades {
  font-style: italic;
}

.education-description {

}
