.profile-pic {
  max-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-paragraph {
  display: block;
  font-weight: bold;
}

.project-card {
  height: 100%;
}

.project-name {
  font-weight: bold;
}

.project-summary {
  margin-bottom: 15px;
}
