html {
  scroll-behavior: smooth;
}

.page-title {
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 20px;
}

@supports (position: sticky) {
  .sticky-top2 {
    position: sticky;
    top: 66px;
    z-index: 1019;
    margin-top: -24px;
  }
}

.scroll-spy-area {
  position: relative;
}
