html {
  scroll-behavior: smooth;
  background-color: lightgrey;
}

body {
  background-color: lightgrey;
}

.page-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 20px;
}

@supports (position: sticky) {
  .sticky-top2 {
    position: sticky;
    top: 66px;
    z-index: 1019;
    margin-top: -24px;
  }
}

.scroll-spy-area {
  position: relative;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #212529;
}
