.bottom-margin-15 {
  margin-bottom: 15px;
}

.project-card {
  height: 100%;
}

.project-name {
  font-weight: bold;
}

.project-summary {
  margin-bottom: 15px;
}

.skills-used {

}

.my-thumbnail-anchor-wrapper {
  max-height: 105px;
  max-width: 105px;
}

.my-thumbnail-anchor {
  max-height: 100px;
  max-width: 100px;
}

.my-thumbnail {
  max-height: 100px;
  max-width: 100px;
}
