.work-card {
  margin-bottom: 15px;
}

.job-title {
  font-weight: bold;
}

.job-tenure {
  font-style: italic;
}

.company-name {
  padding-bottom: 10px;
}

.company-logo {
  width: 100%;
  max-width: 75px;
  padding-bottom: 15px;
}

.company-logo-wrapper {
  width: 100%;
  height: 100%;
}

.job-summary {
  margin-bottom: 15px;
}

.project-summary {

}

.skills-used {

}
