.company-logo {
  max-height: 25vh;
}

#rwbCarousel {

}

.carousel-caption-wrapper {
}

.carousel-caption {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
