.company-logo {
  max-height: 25vh;
  margin-bottom: 20px;
}

#rwbCarousel {

}

.carousel-caption-wrapper {
}

.carousel-caption {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.rwbbc-intro {
  text-align: center;
}

.rwbbc-intro-paragraph {
  display: block;
}
